body{
    background-color: #000;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    padding:12px;
    width:300px;
}

.sidebar__navigation{
    background-color: #121212;
    border-radius:8px;
    padding:16px 0 0 16px;
}

.logo{
    background: #121212;
    display:flex;
    border-radius:8px ;
    padding:16px 0 0 16px;
}

.sidebar__navigation .logo img{
    width:80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding:0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
.library
{
    background-color: #121212;
    color: #b3b3b3;
    font-weight: 600px;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    width: 300px;
    border-radius: 8px;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 1px;
}
.library .library_content
{
    display: flex;
    justify-content: space-between;
}
.library .library_button{
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}
.library .library_button .fa
{
    font-size: 20px;
    font-weight: 300px;
    margin-right: 10px;
    padding-right: 5px;
}
.library .library_content .fa-plus
{
    margin: 21px 8px;
}
.playlist{
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600px;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 12px;
}
.playlist .playlist-content{
    display: flex;
    flex-direction: column;
}
.playlist-content .text{
    padding-bottom: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}
.playlist-content .title{
    font-weight: bold;
    font-size: 17px;
}
.playlist-content .subtitle{
    font-weight: 500px;
    font-size: 12px;
}
.playlist-content .playlist-button{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 120px;
    height: 37px;
    font-weight: 800;
    background-color: #fff;
    color:#000;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    padding: 10px;
    border: 0px;
    margin-top: 12px;
    text-decoration: none;
    text-transform: none;
}
.sidebar .cookies{
    margin: 25px 20px;

}
.sidebar .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}
.sidebar .cookies a:hover{
    text-decoration: underline;   
}
.languages .languages-button{
    align-items: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #878787;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 100px;
}
.premium{
    background: rgb(198,43,147);
    background: linear-gradient(90deg, rgba(198,43,147,1) 0%, rgba(31,183,214,1) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
}
.premium .text{
    flex-shrink: 0;
}
.premium .premium-title{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 10px;
}
.premium .premium-subtitle{
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}
.premium .premium-button button {
    border: 0px;
    border-radius: 100px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    padding: 14px 30px;
    cursor: pointer;
    flex-shrink: 0;
}